* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 350px;
    width: 350px;
    padding: 15px;
    color:white;
    background-color: rgb(26 ,119, 242 ,73%);
  }
  
  .underline_link {
  margin-top: 20px;
  font-style: bold;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.main-flex{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 0;
    font-family: 'Lato', sans-serif;
}

.main-flex .title {
    flex-basis: 53%;
    font-size: 20px;
    text-align: center;
}
.main-flex .center{
    flex-basis: 45%;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #fff;
    transition: 0.3s ease all;
    z-index: 1;
}

body {
    font-family: arial;
  }
  
  .flipswitch {
    position: relative;
    background:rgb(58, 223, 132);
    width: 70px;
    height: 25px;
    -webkit-appearance: initial;
    border-radius: 3px;
    font-size: 8px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #fff;
  }
  
  .flipswitch:after {
    position: absolute;
    top: 5%;
    display: block;
    line-height: 25px;
    width: 45%;
    height: 90%;
    background:rgb(226, 187, 79);
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-in 0s;
    color: black;
    border: #888 1px solid;
    border-radius: 3px;
  }
  
  .flipswitch:after {
    left: 2%;
    content: "OFF";
  }
  
  .flipswitch:checked:after {
    left: 53%;
    content: "ON";
  }